// VARIABLES

$base-size: 16px
//$line-height: 1.3em

$base-color: #E3870E
$color-scheme: complement

$grid-width: 90%
//$columns: 12
//$wrapper-align: center // left, center or right
//$gutter: 2%


// WRITE DEBUG CLASSES
$debug: false

// FRAMEWORK
@import lib/tools
@import lib/reset
@import lib/grid

// SKIN
@import skin/default

// PLUGNINS
@import plugin/normalize-pixel
