// COLORS
// calculated by a built in color schemer, write your own color schemes as you wish.
$base-color: #237ADE // base or primary color
$color-scheme: triad // complement, triad, tetrad, analogic or accented-analogic
$color-angle: 30 // color offset ammount.

// Output of color scemer, set to your own values if you want.
$primary: color-schemer(primary)
$secondary: color-schemer(secondary)
$tertiary: color-schemer(tertiary)
$quadrary: color-schemer(quadrary)

$affirm: #4CDB18 !default
$notify: #FFD900 !default
$warn: #00C2ED !default
$error: #ED3300 !default

$background-color: #fff !default
$body-color: $background-color !default
$article-color: none !default
$aside-color: none !default
$header-color: $primary !default
$nav-color: $secondary !default
$footer-color: $primary !default
$text-color: #333
$link-color: $primary

// FONTS
$text: serif
$hed: sans-serif
$subhed: $hed

@import default/aside
@import default/breadcrumbs
@import default/buttons
@import default/footer
@import default/forms
@import default/header
@import default/links
@import default/nav
@import default/pagination
@import default/tables
@import default/typography