html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  cursor: default; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
  text-decoration: inherit; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted black;
  cursor: help; }

.zoomable, .zoomable * {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: -ms-zoom-in;
  cursor: -o-zoom-in;
  cursor: zoom-in; }

.lightbox, .lightbox * {
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  cursor: -ms-zoom-out;
  cursor: -o-zoom-out;
  cursor: zoom-out; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

a:hover, a:active {
  outline: none; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

input {
  cursor: auto; }

textarea {
  cursor: text; }

a, a *, .clickable, label, input[type=button], input[type=submit], input[type=reset], button, #nextPage, #previousPage, #nextPage *, #previousPage * {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

button {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

.ie6 html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true)); }

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

ins {
  background-color: #fcd700;
  color: black;
  text-decoration: none; }

mark {
  background-color: #fcd700;
  color: black;
  font-style: italic;
  font-weight: bold; }

body {
  font-size: 16px;
  line-height: 1.3em; }

.wrapper {
  position: relative;
  margin-left: 5%;
  margin-right: 5%; }

article {
  background-color: white;
  float: left;
  width: 74.5%; }

footer {
  background-color: #df9516;
  clear: both; }

.header.container {
  background-color: #df9516; }

header {
  background-color: #e59f29;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecab3c', endColorstr='#df9516');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecab3c', endColorstr='#df9516');
  background-image: -webkit-gradient(linear, top left, bottom left, from(#ecab3c), to(#df9516));
  background-image: -webkit-linear-gradient(top, #ecab3c, #df9516);
  background-image: -moz-linear-gradient(top, #ecab3c, #df9516);
  background-image: -ms-linear-gradient(top, #ecab3c, #df9516);
  background-image: -o-linear-gradient(top, #ecab3c, #df9516);
  background-image: linear-gradient(top, #ecab3c, #df9516); }
  header h1, header h2 {
    padding: 16px;
    text-shadow: 0 -1px 0 #99660f, 0 1px 0 #eeb553; }
  header h1 {
    font-family: sans-serif;
    font-size: 3em;
    color: white; }
  header h2 {
    padding-top: 0;
    margin-top: -16px;
    font-size: 1.5em;
    color: #f7e4c4; }

nav {
  background-color: #5370a2;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7); }
  nav ol {
    padding: 0;
    height: 30px;
    list-style: none; }
  nav li {
    float: left;
    margin-right: 1px; }
  nav a {
    display: block;
    height: 30px;
    padding: 0 10px;
    font-family: sans-serif;
    color: white;
    background-color: #425980;
    font-size: 0.8em;
    line-height: 30px;
    border-top: 0px solid #ecab3c;
    text-shadow: 0 -1px 0 #394d6f, 0 1px 0 #8399bf;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    nav a:hover {
      border-top: 3px solid #ecab3c;
      height: 27px; }

p {
  text-indent: 1em;
  font-family: serif; }

.no-indent {
  text-indent: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  line-height: 1.3em; }

article h2, article h3, article h4 {
  border-top: 1px solid #ecab3c;
  margin-top: 1em; }
article h1 {
  font-size: 3em;
  margin-top: 0; }
article h2 {
  font-size: 2em;
  border-top-width: 3px; }
article h3 {
  font-size: 1.6em; }
article h4 {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.1em; }
article h5 {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

ul, ol {
  padding-left: 1.3em; }

section {
  border-top: 1px solid #ecab3c;
  border-bottom: 1px solid #ecab3c;
  margin: 0.65em 0;
  padding: 0.65em 0; }

@media all {
  html, body {
    background-color: white;
    color: #333333; }

  body {
    margin-top: 30px; }

  article {
    float: left;
    width: 74.5%; }

  aside {
    float: right;
    width: 23.5%; }

  nav {
    position: fixed;
    top: 0;
    height: 30px;
    width: 100%; } }
@media all and (max-width: 640px) {
  body {
    margin-top: 60px; }

  article {
    width: 100%; }

  aside {
    width: 100%; }

  nav {
    height: 60px; } }
