html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  cursor: default; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
  text-decoration: inherit; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted black;
  cursor: help; }

.zoomable, .zoomable * {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: -ms-zoom-in;
  cursor: -o-zoom-in;
  cursor: zoom-in; }

.lightbox, .lightbox * {
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  cursor: -ms-zoom-out;
  cursor: -o-zoom-out;
  cursor: zoom-out; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

a:hover, a:active {
  outline: none; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

input {
  cursor: auto; }

textarea {
  cursor: text; }

a, a *, .clickable, label, input[type=button], input[type=submit], input[type=reset], button, #nextPage, #previousPage, #nextPage *, #previousPage * {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

button {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

.ie6 html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true)); }

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

ins {
  background-color: #fcd700;
  color: black;
  text-decoration: none; }

mark {
  background-color: #fcd700;
  color: black;
  font-style: italic;
  font-weight: bold; }

body {
  font-size: 16px;
  line-height: 1.3em; }

.wrapper {
  position: relative;
  margin-left: 5%;
  margin-right: 5%; }

footer {
  background-color: #237ade;
  clear: both; }

header {
  background-color: #3681d6;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f95e5', endColorstr='#1e6ec9');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f95e5', endColorstr='#1e6ec9');
  background-image: -webkit-gradient(linear, top left, bottom left, from(#4f95e5), to(#1e6ec9));
  background-image: -webkit-linear-gradient(top, #4f95e5, #1e6ec9);
  background-image: -moz-linear-gradient(top, #4f95e5, #1e6ec9);
  background-image: -ms-linear-gradient(top, #4f95e5, #1e6ec9);
  background-image: -o-linear-gradient(top, #4f95e5, #1e6ec9);
  background-image: linear-gradient(top, #4f95e5, #1e6ec9); }
  header h1 {
    text-shadow: 0 -1px 0 #18569d, 0 1px 0 #66a2e8;
    font-family: sans-serif;
    font-size: 2em;
    line-height: 1.3em;
    color: white;
    background-color: #347bcb;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f95e5', endColorstr='#1b62b3');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f95e5', endColorstr='#1b62b3');
    background-image: -webkit-gradient(linear, top left, bottom left, from(#4f95e5), to(#1b62b3));
    background-image: -webkit-linear-gradient(top, #4f95e5, #1b62b3);
    background-image: -moz-linear-gradient(top, #4f95e5, #1b62b3);
    background-image: -ms-linear-gradient(top, #4f95e5, #1b62b3);
    background-image: -o-linear-gradient(top, #4f95e5, #1b62b3);
    background-image: linear-gradient(top, #4f95e5, #1b62b3); }

nav {
  background-color: #b7bd1d;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d7de23', endColorstr='#989d18');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d7de23', endColorstr='#989d18');
  background-image: -webkit-gradient(linear, top left, bottom left, from(#d7de23), to(#989d18));
  background-image: -webkit-linear-gradient(top, #d7de23, #989d18);
  background-image: -moz-linear-gradient(top, #d7de23, #989d18);
  background-image: -ms-linear-gradient(top, #d7de23, #989d18);
  background-image: -o-linear-gradient(top, #d7de23, #989d18);
  background-image: linear-gradient(top, #d7de23, #989d18); }
  nav:before, nav:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  nav:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }
  nav {
    zoom: 1; }
  nav ol {
    background-color: #d0d636;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfe54f', endColorstr='#c3c91e');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfe54f', endColorstr='#c3c91e');
    background-image: -webkit-gradient(linear, top left, bottom left, from(#dfe54f), to(#c3c91e));
    background-image: -webkit-linear-gradient(top, #dfe54f, #c3c91e);
    background-image: -moz-linear-gradient(top, #dfe54f, #c3c91e);
    background-image: -ms-linear-gradient(top, #dfe54f, #c3c91e);
    background-image: -o-linear-gradient(top, #dfe54f, #c3c91e);
    background-image: linear-gradient(top, #dfe54f, #c3c91e); }
    nav ol li, nav ol a {
      display: inline; }

p {
  text-indent: 1em;
  font-family: serif; }

.no-indent {
  text-indent: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  line-height: 1.3em; }

h2, h3, h4 {
  border-top: 1px solid #666666;
  margin-top: 1em; }

h1 {
  font-size: 3em;
  margin-top: 0; }

h2 {
  font-size: 2em;
  border-top-width: 3px; }

h3 {
  font-size: 1.6em; }

h4 {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

h5 {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

section {
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  margin: 0.65em 0;
  padding: 0.65em 0; }

@media screen {
  html, body {
    background-color: white;
    color: #333333; }

  article {
    float: left;
    width: 74.5%; }

  aside {
    background-color: none;
    float: right;
    width: 23.5%; } }
