header
  +gradient(lighten($header-color, 10%), darken($header-color, 5%))
  h1
    +letterpress($header-color)
    font-family: $hed
    font-size: 2em
    line-height: $line-height
    color: $background-color
    +gradient(lighten($header-color, 10%), darken($header-color, 10%))